<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DoSomething</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb760087264113122</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>760087264113122</string>
	<key>FacebookDisplayName</key>
	<string>DoSomething</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fb760087264113122</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>DoSomething would like to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>DoSomething would like to use your location</string>
	<key>NSMainNibFile</key>
	<string>Launch Screen</string>
	<key>UIAppFonts</key>
	<array>
		<string>FutworaPro-Regular.otf</string>
		<string>Patron-Black.ttf</string>
		<string>Patron-BlackItalic.ttf</string>
		<string>Patron-Bold.ttf</string>
		<string>Patron-BoldItalic.ttf</string>
		<string>Patron-ExtraLight.ttf</string>
		<string>Patron-Italic.ttf</string>
		<string>Patron-ExtraLightItalic.ttf</string>
		<string>Patron-Medium.ttf</string>
		<string>Patron-MediumItalic.ttf</string>
		<string>Patron-Regular.ttf</string>
		<string>Patron-Thin.ttf</string>
		<string>Patron-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
